.container1 {
text-decoration: none;
font-size: 15px;
color: #000000;


}
.box-1 {
    margin-right: 30px;
    margin-bottom: 15px;
    padding: 0px;
    margin-left: 15px;
    flex:2;
    text-transform: uppercase;
}
.box-1 li{
    margin-left:0px;
}
.box-1 a{
    text-decoration:none;
    color: #0000ff;
   
}
h2 {
    color: #420E03;
    font-size: 30px;
}
