body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15 px;
    line-height: 18px;
}

header{
    background-color: #000000;
    background-size: 100px;
    background-repeat: none;
    background-position: top;
    color: #ffffff;
    padding-top: 30px;
    border-bottom: red;
    border-bottom: 30px;
    border-bottom: solid;

}
.container {
    widows: 80%;
    margin:auto;
}

.top{
    align-items: center;
    justify-content: flex-end;

}
.logo{
    height: 150px;
    width: 150px;
}
.navbar {
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.navbar ul{
    padding: 0px;
}
.navbar li{
    display:inline
}