
#showcase{
    display: flex;
    justify-content: center;
    align-items: center;
}
#showcase p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}

#showcase h1 {
    display: flex;
    font-size: 40px;
    margin-top: 15px;
    border-bottom: red;
}

.box-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:6;
    margin-left: 50px;
    margin-right:50px;

}
.box-2 a{
    display: flex;
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    justify-content: flex-start;
    margin-bottom: 5px;
    line-height: px;
    margin-top:10px;
}
.box-2 img{
    display: flex;
    height: 400px;
    width: 550px;
    justify-content: center;
    align-items: center;
}
.box-2 p{
    display: flex;
    margin-top:0px;
    margin-bottom: 30px;
    border-bottom: solid;
    border:30px;
    border-color: #000000;
}
