body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body h2{
    color: #420E03;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.containergral {
    width: 90%;
    margin:auto;

}
header{
    background-color: #000000;
    background-size: 80px;
    width: auto;
    padding-top: 30px;
    margin-bottom: 50px;
    height: 150px;
}
.header-superior {
    display: flex;
    align-items: center;
    border: 0px;
    margin-bottom: 30px;
}
header a{
    text-decoration: none;

    color: #ffffff

}
.header-superior img{
    display:flex;
    height: 90px;
    width: 150px;
    margin-left:500px;
    padding-top:0px;
   
}

.header-superior a{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    justify-content: flex-end;
 

}
.navbar {
    text-transform: uppercase;  text-transform: uppercase;
    display: inline;
    text-decoration: none;
    align-items: center;
    height: 15px;
    width: 15px;
 
}
.navbar ul{
    padding: 0px;
}

.navbar li{
    display: inline;
    padding-left:90px;
    padding-right: 50px;
    padding-top: 0px;
    text-decoration: underline;
    margin-bottom: 25px;
    margin-top:0px;
}
#main-footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}
#showcase {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:2px;
    border-color: #000000;
    border-style: solid;
}
.container1{
    display: flex;
    flex-direction: row;
    margin-top:40px;
}