body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body h2{
    color: #420E03;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 20px;
}
body h4{
    font-size: 20px;
    color: #000000;
    margin:0px;
    padding:0px 5px 0px 10px;
    display: flex;
    justify-content: center;
}
header{

    width: auto;
    padding-top: 0px;
    margin-bottom: 50px;
    height: 150px;
}
.header-superior {
    background-color: #000000;
    background-size: 180px;
    display: flex;
    align-items: center;
    border: 0px;
    margin-bottom: 30px;
}
header a{
    text-decoration: none;
    color:#000000;
}
.header-superior img{
    display:flex;
    height: 120px;
    width: 130px;
    margin-left:500px;
    padding-top:0px;
   
}

.header-superior a{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    justify-content: flex-end;
 

}
.navbar {
    text-transform: uppercase;  
    display: inline;
    text-decoration: none;
    align-items: center;
 
}
.navbar ul{
    background-color: #ffd700;
    margin-top: -20px;
    padding:10px 0px;
}

.navbar li{
    background-size: 20px;
    display: inline;
    padding-left:90px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 40px;
    text-decoration: underline;
    color: #000000;
    margin-bottom: 0px;
    margin-top:0px;
}

.hamburguer{
    background-color: transparent;
    border: 0;
    color: #000000;
    cursor: pointer;
    font-size: 50px;
    display: none;
}
.hamburguer:focus {
    outline:none;
}

.containergral {
    width: 90%;
    margin:auto;

}
#main-footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 12px;

}
#showcase {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:2px;
    border-color: #ffd700;
    border-style: solid;
}
.container1{
    display: flex;
    flex-direction: row;
    margin-top:40px;
}

@media screen and (max-width: 767px){
.container1 {
    display: flex;
    flex-direction: column;
}
.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar ul{
    display: none;
    
}
.hamburguer{
    display: block;
    background-color: #000000;
}
.header-superior img{
    margin:auto;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}
.box-3 {
    display: flex;
    flex-direction: row;
}

}
}
